.wrap {}

.listItem {
    grid-template-columns: 10em 10em 10em;
    grid-template-rows: auto;
    grid-template-areas:
        "email role button";
}

.tableRow {
    padding: 50px;
}

td {
    padding: 0 10px;
}

th {
    text-align: left;
    padding: 0 10px;
}

.role {
    grid-area: role;
}

.email {
    grid-area: email;
}