.wrap {
    padding: 0.5rem 24px;
    cursor: pointer;
    background-color: var(--background-blue);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.listItem {
    box-sizing: border-box;
    font-size: 0.9rem;
    color: var(--color);
    background-color: var(--background-color);
    padding: 0;
    width: 100%;
    max-width: 350px;
    max-height: 230px;
    display: grid;
    gap: 6px;
    padding-bottom: 6px;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
        "thumb thumb"
        "title stats"
        "points views";
}

.item {
    padding: 0px 8px;
}

.img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit:cover;
    grid-area: thumb;
    overflow: hidden;
}

.title {
    /* padding: 0.2rem 0.5rem; */
    font-weight: 500;
    grid-area: title;
    hyphens: auto;
}

.points {
    grid-area: points;
}

.views {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    grid-area: views;
}

.statsWrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    grid-area: stats;
}

.stats{
    background-color: rgb(221, 221, 221);
    color: black;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

.all{
    background-color: rgb(123, 226, 100);
}

.partly{
    background-color: rgb(245, 245, 0);
}

