.bar{
    width: 100vw;
    height: 2rem;
    position: absolute;
    bottom: -1rem;
    background-color: lightgray;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}