.background {
    background-color: rgb(184, 56, 126);
    height: 3rem;
    /* margin-bottom: 1rem; */
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    overflow: visible;
    z-index: 100;
}

.editorBackground{
    background-color: rgba(88,116,194,255);
}

#logo {
    width: 2.5rem;
    height: 2.5rem;
}

.home {
    position: relative;
    padding: 0.5rem 0;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
}

.imgLogo {
    width: 90%;
}

