.background {
    background-color: rgba(39, 75, 177, .8);
    height: 3rem;
    /* margin-bottom: 1rem; */
    padding: 0 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    overflow: visible;
}

#logo {
    width: 2.5rem;
    height: 2.5rem;
}

.home{
    position: relative;
    padding: 0.5rem 0;
    padding-top: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 10rem;

}

.imgLogo{
    width: 90%;
    
}

.user {
    color: white;
    cursor: pointer;
    padding: 0 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user:hover, .home:hover {
    background-color: rgba(0, 0, 0, 0.619);
}

.dropDownWrapper {
    position: absolute;
    margin-top: 3rem;
    right: 1rem;
}