.formwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    margin: 5rem auto;
    background-color: var(--item-color);
    padding: 1rem;
    border-radius: 1rem;
}

.vertical {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.requestRights {
    text-align: center;
}

.info{
    cursor: pointer;
}

.infoBox{
    font-size: medium;
    position: absolute;
    background-color: var(--background-color);
    padding: 1em;
    max-width: 15em;
    margin-left: -3em;
    border: 1px solid black;
    border-radius: 1em;
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.label {
    margin-top: -1em;
    font-size: 0.7em;
    align-self: center;
}

.hidden{
    visibility: hidden;
}

.input {
    border: 1px solid black;
    border-radius: 0.4em;
    padding: 0.5em;
}

.register {
    font-size: 0.8rem;
    color: blue;
    cursor: pointer;
}

.error {
    font-size: 0.8rem;
    color: red;
}

/* signup */

.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.262);
}

.alert {
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    gap: 1rem;
    background-color: var(--item-color);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 70%;
    text-align: center;
}