.formwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    margin: 5rem auto;
    background-color: var(--item-color);
    padding: 1rem;
    border-radius: 1rem;
}

.vertical {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.requestRights {
    text-align: center;
}

.input {
    border-radius: 0.5em;
}

.register {
    font-size: 0.8rem;
    color: blue;
    cursor: pointer;
}

.error {
    font-size: 0.8rem;
    color: red;
}

/* signup */

.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.262);
}

.alert{
    display: flex;
    flex-flow: column nowrap ;
    /* align-items: center; */
    gap: 1rem;
    background-color: var(--item-color);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 70%;
    text-align: center;
}
