.formwrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    margin: 5rem auto;
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
}

.vertical{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}
 .requestRights{
    text-align: center;
 }
 
.register{
    font-size: 0.8rem;
    color: blue;
    cursor: pointer;

}

.error{
    font-size: 0.8rem;
    color: red;
}