.wrap {
    align-items: center;
    width: 100%;
}

.timeWrap {
    gap: 10px;
    align-items: start;
}

.timecode {
    padding: 2px 6px;
    border-radius: 5px;
    background-color: var(--item-color);
}

.input {
    font-family: inherit;
    /* width: 100%; */
    outline: none;
    background-color: transparent;
    border: none;
    text-align: center;
    box-shadow: none;
    padding: 0rem;
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    min-height: 100%;
}

.stretch {
    align-items: strech;

}

.questionInput {
    color: black;
}

.change::placeholder {
    color: white;
}

.circle {
    margin-left: -1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
}

.delete {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: red;
    top: -0.6rem;
}

.answerCorrect {
    background-color: red;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    border-radius: 1rem;
    bottom: -0.5rem;
    color: white;
}

.correct {
    background-color: green;
}

.addAnswer {
    font-size: 2rem;
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.buttonWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.saveQuestion {
    background-color: lightgreen;
}

.cancel {
    background-color: lightcoral;
}

.setTimecodeButton {
    padding: 0 inherit;
    font-size: 0.9em;
    max-width: 300px;
}