.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
    align-items: center;
}

.selector {
    border: none;
}