.wrap {
    /* width: 100%;
    height: 100%; */
    height: 100%;
    width: 2rem;
}

.icon {
    color: white;
    height: 100%;
    width: 100%;
}

.logIn {
    height: 1rem;
}

.menu {
    box-sizing: border-box;
    background-color: var(--user-accent-color);
    position: absolute;
    top: 3rem;
    right: -100%;
    transition:right 0.1s;
    padding: 1rem 0rem;
}

.menuOpen {
    display: block;
    right: 0rem;
    width: auto;
}

.menuListItem {
    text-align: right;
    font-weight: 500;
    font-size: 1.2em;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
}

.menuListItem:hover {
    background-color: rgba(128, 128, 128, 0.541);
}
