.videoListWrapper {
    max-width: 100%;
    color: var(--color);
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.videoListBody {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
}

.videoInList {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 35% 1fr;
    grid-template-areas:
        "thumb title"
        "thumb buttons";
    padding: 0;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3);
    margin: 0;
}

.Title {
    padding-top: .5rem;
    padding-left: 1rem;
    grid-area: title;
    font-weight: 500;
}

.Thumb {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-area: thumb;
    object-fit: cover;
}

.questions {
    grid-area: questions;
}

.buttonWrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    grid-area: buttons;
    padding-right: 1rem;
}