.formwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    margin: 5rem auto;
    background-color: var(--item-color);
    padding: 1rem;
    border-radius: 1rem;
}

.vertical {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.label {
    margin-top: -1em;
    font-size: 0.7em;
    align-self: center;
}

.input {
    border: 1px solid black;
    border-radius: 0.4em;
    padding: 0.5em;
}

.error {
    font-size: 0.8rem;
    color: red;
}

/* signup */


.alert {
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    gap: 1rem;
    background-color: var(--item-color);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 70%;
    text-align: center;
}

/* lsit --- */

.wrap {
    box-sizing: border-box;
    padding: 15px 15px;
    align-items: center;
    width: 100%;
}

.listItem {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--background-color);
    border-radius: 41px;
    gap: 33px;
    padding: 13px 34px;
    align-items: stretch;
    max-width: 400px;
    overflow: clip;
    box-shadow: 0px 2px 10px rgba(135, 135, 135, 0.25);
}

.rightWrap {
    align-items: start;
    gap: 5px;
    padding: 0px 0px;
}

.name {
    font-size: 35px;
    line-height: 1.2;
}

.info {
    font-size: 15px;
    display: flex;
    flex-flow: row nowrap;
    gap: 7px;
    white-space: nowrap;
}

.messageWrap {
    width: 100%;
}

.messageInput {
    /* width: 300px; */
}