.wrap {
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 2rem);
    position: relative;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.mail {
    max-width: 20rem;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    background-color: var(--item-color);
}