.EDWrap {
    display: flex;
    /* height: 100vh; */
    width: 100vw;
    flex-flow: row wrap;
    align-items:flex-start;
    align-content: center;
    justify-content: center;
    gap: 1rem;
}

.listWrap{
    display: flex;
    flex-direction: column;
}

.addVideo{
    margin: 3rem;
}

