.formwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    margin: 5rem auto;
    background-color: var(--item-color);
    padding: 1rem;
    border-radius: 1rem;
}

.vertical {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.visible {
    visibility: visible;
}

.label {
    margin-top: -1em;
    font-size: 0.7em;
    align-self: center;
}

.input {
    border: 1px solid black;
    border-radius: 0.4em;
    padding: 0.5em;
}