.wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    z-index: 99;
    overflow: scroll;
}

.back {
    justify-content: stretch;
}

.topWrap {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--background-color);
    padding: 15px 15px;
    display: flex;
    flex-flow: row nowrap;
    /* justify-content:center; */
    gap: 15px;
}

.barWrap {
    flex-grow: 1;
}