.scoreWrap {
    position: relative;
    height: 35px;
    border-radius: 13px;
    background-color: var(--dark-accent);
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    color: var(--color-inverted);
    padding: 0px 12px;
}

.filter {
    filter: opacity(40%) contrast(90%) grayscale(100%);
}

.level {
    white-space: nowrap;
}

.divider {
    height: 100%;
    width: 2px;
    background-color: var(--background-color);
    margin: 6px;
}

.scoreCounter {
    white-space: nowrap;
}