.wrap {
    padding: 1rem;
    background-color: rgba(227, 238, 252, 0.612);
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    /* align-items: center; */
    align-content: left;
    justify-content: left;
}

.title {
    padding: 0.5rem 0;
    margin: 0;
}

.email {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.smallButton {
    color: white;
    border-radius: 0.5rem;
    border: none;
    /* position: absolute; */
    right: 0;
}

.delete {
    background-color: rgba(255, 0, 0, 0.757);
}

.inputWrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding-top: 1rem;
}

.makeAdmin {
    background-color: green;
}